$w: 320px;
$h: 16px;

.slider__button--wrapper { 
    display: grid;
    grid-template-rows: max-content $h;
    margin: 16px auto;
    width: $w;
    overflow: hidden;
    position: relative;
}

input[type='range'] {
    grid-column: 1;
    grid-row: 2;
}

.sr-only {
    position: absolute;
    clip-path: 50%;
}